<div class="create-receta">
<h1>CREAR RECETA</h1>
<form action="/receta/createReceta" method="POST" enctype="multipart/form-data" name="form-create-receta">
	<fieldset>
		<legend>Añadir receta</legend>
		<% if (locals.error) { %>
			<p><strong>
					<%= locals.error %>
				</strong></p>
			<% } %>
				<div class="nombre">
					<p class="error" id="errorNombre"><%- helpers.error(errores, 'nombre' ) %></p>
					<input type="text" name="nombre" placeholder="Nombre de receta"
					value="<%= locals.nombre ? locals.nombre : '' %>"><span class="error"></span><span class="feedback"></span>
				</div>
				<div class="descripcion">
					<p class="error" id="errorDescripcion"><%- helpers.error(errores, 'descripcion' ) %></p>
					<textarea name="descripcion" placeholder="Descripción"><%= locals.descripcion ? locals.descripcion : '' %></textarea>
					<span class="error"></span><span class="feedback"></span>
				</div>

				<div class="preparacion">
					<p class="error" id="errorPreparacion"><%- helpers.error(errores, 'modo_preparacion' ) %></p>
					<textarea name="modo_preparacion" placeholder="Modo de preparación"><%= locals.modo_preparacion ? locals.modo_preparacion : '' %></textarea>
					<span class="error"></span><span class="feedback"></span>
				</div>

				<div class="receta-imagen">
					<label for="imagen">Imagen:</label>
					<p class="error" id="errorImagen"><%- helpers.error(errores, 'imagen' ) %></p>
					<input type="file" name="imagen" value="<%= locals.foto ? locals.foto : '' %>">
					<span class="error"></span><span class="feedback"></span>
				</div>
				<button type="submit">Subir receta</button>
	</fieldset>
</div>
<script src="/js/createReceta.js" defer></script>
<script src="/js/fetch.js" defer></script>