<div class="buscador">
    <input type="text" placeholder="Buscar" id="buscadorRecetas">
</div>

<div class="recetas-container">
    <% recetas.forEach((r) => { %>
        <div class="receta-card">
            <a href="/receta/verReceta/<%= r.id %>">
                <div class="receta-content">
                    <div class="receta-imagen">
                        <img src="/images/<%= r.foto %>" alt="<%= r.nombre %>">
                    </div>
                    <div class="receta-info">
                        <h3><%= r.nombre %></h3>
                        <p><%= r.descripcion %></p>
                    </div>
                </div>
            </a>
        </div>
    <% }) %>
</div>