<div class="update-receta">
<h1>Actualizar Receta</h1>
<form action="/receta/updateReceta/<%= receta.id %>" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Editar Receta</legend>

        <% if (locals.error) { %>
            <p><strong><%= locals.error %></strong></p>
        <% } %>

        <div class ="nombre">
            <p class="error"><%- helpers.error(errores, 'nombre') %></p>
            <input type="text" name="nombre"
                   value="<%= receta.nombre %>" placeholder="Nombre">
        </div>
        <div class="descripcion">
            <p class="error"><%- helpers.error(errores, 'descripcion' ) %></p>
            <textarea name="descripcion" placeholder="Descripción"><%= receta.descripcion ? receta.descripcion : '' %></textarea>
        </div>

        <div class="preparacion">
            <p class="error"><%- helpers.error(errores, 'modo_preparacion' ) %></p>
            <textarea name="modo_preparacion" placeholder="Modo de preparación"><%= receta.modo_preparacion ? receta.modo_preparacion : '' %></textarea>
        </div>
        <div class="receta-imagen">
            <label for="imagen">Imagen:</label>
            <p class="error"><%- helpers.error(errores, 'imagen') %></p>
            <input type="file" name="imagen" required value="<%= locals.foto ? locals.foto : receta.imagen %>">
        </div>

        <button type="submit">Guardar Cambios</button>
    </fieldset>
</form>
</div>