
  <div class="perfil-card-container">
    <div class="perfil-card">
  
      
      <div class="menu-lateral">
        <ul>
          <li><a href="/usuarios/favoritas">Mis Recetas Favoritas</a></li>
          <li><a href="/receta/misRecetas">Mis Recetas</a></li>
        </ul>
      </div>
  
      
      <div class="contenido-perfil">
        
  
        <div class="perfil-detalles">
          <h1>Editar tu perfil</h1>
  
          <form class="form-editar" action="/usuarios/updatePerfil" method="POST" enctype="multipart/form-data"  class="form-registro">

            <div class="perfil-foto">
              <label for="Imagen">Imagen:</label>             
              <p class="error"><%- helpers.error(errores, 'imagen' ) %></p>
              <input type="file" name="imagen" value="<%= locals.foto ? locals.foto : '' %>">
            </div>

            <label>Nombre:
              <input type="text" name="nombre" value="<%= usuario.nombre %>" required>
            </label>
  
            <label>Username:
              <input type="text" name="username" value="<%= usuario.username %>" readonly>
            </label>
  
            <label>Email:
              <input type="email" name="email" value="<%= usuario.email %>" required>
            </label>
  
            <label>Nueva contraseña:
              <input type="password" name="password" placeholder="Dejar en blanco si no quieres cambiarla">
            </label>
  
            <div class="botones-perfil">
              <button type="submit" class="guardar">Guardar cambios</button>
              <a href="/usuarios/verPerfil" class="cancelar">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
  
    </div>
  </div>
  
  