<div class="receta-vista">
    <div class="receta-detalle">
        <% if (receta.imagen) { <!-- Realmente siempre debería haber una foto, pero por si acaso--> %>
            <img class="receta-img" src="/imagen/<%= receta.imagen %>">
            <% } %>
                <div class="receta-info">
                    <h1>
                        <%=receta.nombre%>
                    </h1>
                    <% if (receta.user) { %>
                        <p>Creada por <a href="/usuarios/<%= receta.user %>"><%= receta.user %></a></p>
                    <% } else { %>
                         <p>Admin</p>
                                <% } %>
                                    <h2>INFORMACIÓN</h2>
                                    <p><%= receta.descripcion %></p>

                </div>
    </div>
    <div class="receta-ingredientes">
        <h2>INGREDIENTES</h2>
        <% if (ingredientes.length > 0) { %>
            <% ingredientes.forEach((i)=> { %>      
                <span><%= i.nombre %>: <%= i.cantidad %><%= i.unidad %></span>
            <% }) %>
        <% } else { %>
            <span class="error">Error obteniendo los ingredientes. Por favor, contacta con un administrador</span>
        <% } %>
    </div>
    <div class="receta-preparacion">
        <h2>MODO DE PREPARACIÓN</h2>
        <p>
            <%= receta.modo_preparacion %>
        </p>
    </div>


    <div class="receta-likes">
        <p>Likes: <span id="likeCount">
                <%= receta.likes %>
            </span></p>
    </div>
    <div class="receta-extra">
        <p><strong>Gusto:</strong>
            <%= receta.gusto || "No especificado" %>
        </p>
        <p><strong>Nivel:</strong>
            <%= receta.nivel || "No especificado" %>
        </p>
        <p><strong>Dieta:</strong>
            <%= receta.dieta || "No especificada" %>
        </p>
    </div>

    <div class="receta-botones">
        <p>
            <% if (session.login) { %>
                <form id="receta-like-form" action="/receta/like" method="POST">
                    <input type="hidden" name="id" value="<%= receta.id %>">
                    <button type="submit" id="receta-like-button">
                        <%= receta.user_liked ? '💔' : '❤️' %>
                    </button>
                </form>
                <% } %>
                    <!-- Mostrar Modificar y Borrar solo si el usuario actual es el creador -->
                    <% if (session.username && (session.username===receta.user || session.rol === 'A')) { %>
                        <a href="/receta/updateReceta/<%= receta.id %>">✏️</a>
                        <!-- TODO hacer la modificación-->
                        <form id="deleteForm" action="/receta/removeReceta" method="POST">
                            <input type="hidden" name="id" value="<%= receta.id %>">
                            <button type="submit" id="deleteButton">🗑️</button>
                        </form>
                        <% } %>
        </p>
    </div>
    <div class="receta-comentarios">
        <h2>COMENTARIOS</h2>
        <div class="comentarios-container">
            <% if (hayComentarios==false) { %>
                <p>No hay comentarios aún.</p>
                <% } else { %>
                    <% comentarios.forEach((comentario)=> { %>
                        <div class="comentario-card">
                            <h3>
                                <a href="/usuarios/<%= comentario.user %>"><%= comentario.user %></a> dice:
                            </h3>
                            <p class="comentario-descripcion">
                                <%= comentario.descripcion %>
                            </p>
                            <% if( comentario.valoracion != 1) { %>
                                <p class="comentario-valoracion">Valoración: <%= comentario.valoracion %> likes</p>
                            <% } else { %>
                                <p class="comentario-valoracion">Valoración: <%= comentario.valoracion %> like</p>
                            <% } %>
                            <% if(session.login) { %>
                                <div class="comentario-botones">
                                    <form id="comentario-like-form" action="/comentario/like" method="POST">
                                        <input type="hidden" name="id" value="<%= comentario.id %>">
                                        <button type="submit" id="comentario-like-button">
                                            <%= comentario.user_liked ? '💔' : '❤️' %>
                                        </button>
                                    </form>
                                    <% if(session.username===comentario.user || session.rol === "A") { %>
                                        <form id="comentario-remove-form" action="/comentario/removeComentario"
                                            method="POST">
                                            <input type="hidden" name="id" value="<%= comentario.id %>">
                                            <button type="submit" id="comentario-remove-button">
                                                🗑️
                                            </button>
                                        </form>
                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                        <% }) %>
                            <% } %>
        </div>
        <% if(session.login) { %>
            <form id="create-comentario" action="/comentario/createComentario" method="POST" name="form-create-comentario">
                <label>Escribe aquí tu comentario:</label><textarea type="text"
                    name="descripcion"></textarea><%- helpers.error(errores, 'descripcion') %><span class="error"></span>
                <input type="hidden" name="id" value="<%= receta.id %>">
                <button type="submit" id="comentario-create-button">
                    Escribe un comentario
                </button>
            </form>
            <% } %>
    </div>
</div>

<script src="/js/createComentario.js" defer></script>
<script src="/js/fetch.js" defer></script>