<h1><%=receta.nombre%></h1>

<div class="receta-detalle">
    <div class="receta-imagen">
        <img src="/images/<%= receta.foto %>" alt="<%= receta.nombre %>">
    </div>
    <div class="receta-info">
        <% if (receta.user) { %>
            <p>Creada por <%= receta.user %></p>
        <% } else { %>
            <p>Creada por admin</p>
        <% } %>
        <p><%= receta.descripcion %></p>
    </div>

    <div class="receta-botones">
    <p>Likes: <%= receta.likes %>  
        <% if (session.username) { %>
            <button id="likeButton" onclick="toggleLike()">
                <%= receta.user_liked ? '💔 Dislike' : '❤️ Like' %>
            </button>
        <% } %>

            <!-- Mostrar Modificar y Borrar solo si el usuario actual es el creador -->
        <% if (session.username && (session.username === receta.user || session.esAdmin)) { %>
                <a href="/receta/modificar/<%= receta.id %>">✏️</a> <!-- TODO hacer la modificación-->
                <button id="eliminaButton" onclick="eliminaReceta()">🗑️</button>
        <% } %>
    </p>
    </div>
</div>

<script>
    function toggleLike() {
        const id_receta = "<%= receta.id %>"; // Obtener el ID de la receta
        const user = "<%= session.username %>"; // Obtener el username

        enviaLike(id_receta, user);

        function enviaLike(id, user) {
            fetch(`/receta/like`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({id: id, user: user}),
            })
            .then(data => {
                // Cambiamos el texto del botón de like
                document.getElementById("likeCount").textContent = data.likes;
                if(data.user_liked)
                    document.getElementById("likeButton").textContent = '💔 Dislike';
                else
                    document.getElementById("likeButton").textContent = '❤️ Like';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function eliminaReceta() {
        const id_receta = "<%= receta.id %>"; // Obtener el ID de la receta
        const user = "<%= session.username %>"; // Obtener el username

        enviaEliminar(id_receta, user);

        function enviaEliminar(id, user) {
            fetch(`/receta/removeReceta`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({id: id, user: user}),
            })
        }
    }
</script>