<h1>
    <%=receta.nombre%>
</h1>

<div class="receta-detalle">
    <div class="receta-imagen">
        <img src="/images/<%= receta.foto %>" alt="<%= receta.nombre %>">
    </div>
    <div class="receta-info">
        <% if (receta.user) { %>
            <p>Creada por <%= receta.user %>
            </p>
            <% } else { %>
                <p>Creada por admin</p>
                <% } %>
                    <p>
                        <%= receta.descripcion %>
                    </p>
    </div>

    <div class="receta-botones">
        <p>Likes: <span id="likeCount">
                <%= receta.likes %>
            </span>
            <% if (session.username) { %>
                <form id="likeForm" action="/receta/like" method="POST">
                    <input type="hidden" name="id" value="<%= receta.id %>">
                    <button type="submit" id="likeButton">
                        <%= receta.user_liked ? '💔' : '❤️' %>
                    </button>
                </form>
                <% } %>
                    <!-- Mostrar Modificar y Borrar solo si el usuario actual es el creador -->
                    <% if (session.username && (session.username===receta.user || session.esAdmin)) { %>
                        <a href="/receta/modificar/<%= receta.id %>">✏️</a> <!-- TODO hacer la modificación-->
                        <form id="deleteForm" action="/receta/removeReceta" method="POST">
                            <input type="hidden" name="id" value="<%= receta.id %>">
                            <button type="submit" id="deleteButton">🗑️</button>
                        </form>
                        <% } %>
        </p>
    </div>
</div>