<h1><%=receta.nombre%></h1>

<div class="receta-detalle">
    <div class="receta-imagen">
        <img src="/images/<%= receta.foto %>" alt="<%= receta.nombre %>">
    </div>
    <div class="receta-info">
        <% if (receta.user) { %>
            <p>Creada por <%= receta.user %></p>
        <% } else { %>
            <p>Creada por admin</p>
        <% } %>
        <p><%= receta.descripcion %></p>
    </div>

    <div class="receta-botones">
    <p>Likes: <%= receta.likes %>  
        <% if (session.username) { %>
            <button id="likeButton" class="btn" onclick="toggleLike(event)">
                <%= receta.user_liked ? '💔 Dislike' : '❤️ Like' %>
            </button>
        <% } %>

            <!-- Mostrar Modificar y Borrar solo si el usuario actual es el creador -->
        <% if (session.username && (session.username === receta.user || session.esAdmin)) { %>
                <a href="/receta/modificar/<%= receta.id %>">✏️</a> <!-- TODO hacer la modificación-->
                <a href="/receta/removeReceta/<%= receta.id %>">🗑️</a>
        <% } %>
    </p>
    </div>
</div>

<script>
    function toggleLike(event) {
        event.preventDefault(); // Evitar el comportamiento por defecto del botón
        
        const button = event.target;
        const recetaId = '<%= receta.id %>'; // Obtener el ID de la receta
        const likeCountElement = document.getElementById('likeCount');

        // Comprobar si el usuario ya dio like (esto dependerá de cómo guardes esa información)
        const isLiked = '<%= receta.user_liked %>'
        
        // Alternar el estado del like
        if (isLiked) {
            button.textContent = '❤️ Like';
            updateLike(recetaId, 'remove'); 
        } else {
            button.textContent = '💔 Dislike'; 
            updateLike(recetaId, 'add');
        }

        function updateLike(id, action) {
            fetch(`/receta/like/${id}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id_receta: id, user: user, action: action }),
            })
            .then(response => response.json())
            .then(data => {
                // Actualiza el contador de likes
                likeCountElement.textContent = data.likes;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>